<div class="textItemContainer">
  <br/>
  <h1>8. Refactoring, testing, and debugging</h1>
  <p>No exercises in the chapter introduction</p>

  <h2 id="ch08lev01sec00">8.1 Refactoring for improved readability and flexibility</h2>
  <p>Exercises to be placed at the end of section 8.1</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch08lev02sec00">8.2 Refactoring object-oriented design patterns with lambdas</h2>
  <p>Exercises to be placed at the end of section 8.2</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch08lev03sec00">8.3 Testing lambdas</h2>
  <p>Exercises to be placed at the end of section 8.3</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch08lev04sec00">8.4 Debugging</h2>
  <p>Exercises to be placed at the end of section 8.4</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch08lev05sec00">8.5 Summary</h2>
  <p>No exercises in this section</p>
</div>
