<div class="textItemContainer">
  <br/>
  <h1>13. Thinking functionally</h1>
  <p>No exercises in the chapter introduction</p>

  <h2 id="ch13lev01sec00">13.1 Implementing and maintaining systems</h2>
  <p>Exercises to be placed at the end of section 13.1</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch13lev02sec00">13.2 What's functional programming?</h2>
  <p>Exercises to be placed at the end of section 13.2</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch13lev03sec00">13.3 Recursion vs. iteration</h2>
  <p>Exercises to be placed at the end of section 13.3</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch13lev04sec00">13.4 Summary</h2>
  <p>No exercises in this section</p>
</div>
