<div class="textItemContainer">
  <br/>
  <h1>Chapter 8. Working with Spring Web Flow</h1>
</div>

<div class="textItemContainer">
  <h2 id="ch08lev01sec00">8.1. Configuring Web Flow in Spring</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch08lev01sec01">8.1.1. Wiring a flow executor</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch08lev01sec02">8.1.2. Configuring a flow registry</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch08lev01sec03">8.1.3. Handling flow requests</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">  
  <h2 id="ch08lev02sec00">8.2. The components of a flow</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch08lev02sec01">8.2.1. States</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch08lev02sec02">8.2.2. Transitions</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch08lev02sec03">8.2.3. Flow data</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch08lev03sec00">8.3. Putting it all together: the pizza flow</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch08lev03sec01">8.3.1. Defining the base flow</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch08lev03sec02">8.3.2. Collecting customer information</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch08lev03sec03">8.3.3. Building an order</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch08lev03sec04">8.3.4. Taking payment</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch08lev04sec00">8.4. Securing web flows</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch08lev05sec00">8.5. Summary</h2>
</div>
