// Custom styles for Manning vBook
@font-face {
  font-family: 'manning';
  src:url('../resources/icon-font/manning/fonts/manning.eot?-7ca4qx');
  src:url('../resources/icon-font/manning/fonts/manning.eot?#iefix-7ca4qx') format('embedded-opentype'),
  url('../resources/icon-font/manning/fonts/manning.woff?-7ca4qx') format('woff'),
  url('../resources/icon-font/manning/fonts/manning.ttf?-7ca4qx') format('truetype'),
  url('../resources/icon-font/manning/fonts/manning.svg?-7ca4qx#manning') format('svg');
  font-weight: normal;
  font-style: normal;
}

$manning-secondary-color: #C05844;

%icon {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -9999px;
}

i {
  font-family: 'manning';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.introductionSummary i, .textItemContainer i {
  font-family: "Georgia, Cambria, Times New Roman, Times, serif";
  font-style: italic;
  font-size: large;
}

.icon-i-manning-m:before {
  content: "\e600";
}

.icon-i-volume:before {
  content: "\e604";
  font-size: 1rem;
}

.icon-i-settings:before{
  content: "\e613"
}

.icon-i-help {
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  height: 1rem;
  width: 1rem;
  text-align: center;
}

.icon-i-help:before{
  content: "?";
  color: $green;
  font-weight: bolder;
}

.icon-i-rabbit:before {
  content: "\e605";
  font-size: 16px;
}

.icon-i-backward:before {
  content: "\e606";
}

.icon-i-forward:before {
  content: "\e607";
}

.icon-i-scooter:before{
  content: "\e608";
}

.icon-i-finish-line:before{
  content: "\e609";
}

.icon-i-knowledge-quiz:before{
  content: "\e60f";
  padding-right: 10px;
}

.icon-i-edit:before{
  content: "\e60f";
  @extend %question-icon;
  font-size: small;
}

.icon-i-check:before{
  content:"\e60e";
}

.icon-i-arrow-right:before{
  content: "\e610";
}

.icon-i-arrow-left:before{
  content: "\e610";
  //TODO: Change this in the font and not like this!!!
}

.control-play-pause.control-pause i:before, .icon-i-pause:before {
  content: "\e601";
}

.control-play-pause.control-play i:before, .icon-i-play-triangle:before {
  content: "\e602";
}

.icon-i-toc:before {
  content: "\e603";
}

.icon-i-reset:before{
  content: "\e60c";
  font-size: x-small;
  margin-right: 5px;
}

.icon-i-eye:before{
  content: "\e60a";
}

%question-icon {
  padding-right: 5px;
  font-size: x-small;
}

.icon-i-check:before{
  content: "\e60e";
  @extend %question-icon;
}

.icon-i-show-answer:before, .icon-i-result:before{
  content: "\e60a";
  @extend %question-icon;
}

.icon-i-show-explain:before{
  content: "\e60b";
  @extend %question-icon;
}

.icon-i-show-hint:before{
  content: "\e60d";
  @extend %question-icon;
}

.i-play {
  @extend %icon;
  background-image: url('../img/i-play.png');
  height: 10px;
  width: 12px;
}
.i-pause {
  @extend %icon;
  background-image: url('../img/i-pause.png');
  height: 10px;
  width: 12px;
}
.i-backward {
  @extend %icon;
  background-image: url('../img/i-backward.png');
  height: 15px;
  width: 20px;
}
.i-forward {
  @extend %icon;
  background-image: url('../img/i-forward.png');
  height: 15px;
  width: 20px;
}
.i-text-view {
  @extend %icon;
  background-image: url('../img/i-text.png');
  height: 11px;
  width: 16px;
}


// Top bar
.top-bar-section {
  left: 2% !important;

  ul li {
    background: transparent;
    float: left;

    & > a {
      padding: 0 0.83333rem;
      line-height: 2.5rem;
    }
  }

  .menu-button:hover{
    background-color: transparent !important;
    background: transparent !important;
  }
}

.top-bar {
  margin-bottom: 0;
}



.top-bar .book-title {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 25%;

  margin: 0;
  text-align: center;
  line-height: $topbar-height;

  font-size: 14px;
  color: $white;

  & a{
    color: $white;
  }
}

#toc-menu-button.selected,
#settings-button.selected
{
  background: darken($charcoal, 5);
  background-color: darken($charcoal, 5);
}


#modal-show-help{
  max-width: 720px;

  #help-container {

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  #help-video{
    width: 660px;
  }
}


// Play/pause and text/video toggle

.manning-button {
  @extend .button;
  @extend .round;

  color: $green;
  font-size: 14px;

  border-color: $green;
  border-width: 1px;
  background-color: transparent;

  padding: rem-calc(4) rem-calc(9);

  &:hover {
    background-color: $green;
    color: $white;
  }
}

//Settings
$settings-menu-width: 300px;
$volume-line-width: 180px;
$speed-line-width: 200px;

.menu-settings{
  position: fixed !important;
  height: 100%;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 2px 3px #999;
  width: $settings-menu-width;
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  max-height: 100vh;
  margin-top:-6px;

  &.closed {
    right: -$settings-menu-width !important;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  &.open{
    right: 0 !important;
    z-index: 999;

    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  .menu-settings-item {
    height: 5rem;
    border-bottom: 1px rgb(220, 220, 220) solid;
    position: relative;
  }

  .menu-settings-header.menu-settings-item {
    text-align:center;
    vertical-align:middle;

    label {
      padding-top: 1.8rem;
      font-weight: bolder;
      font-size: medium;
    }
  }

  .menu-setting-container{
    margin: 1.2rem 1.2rem;
  }

  .menu-button {
    color: $green;
  }

  .toolbar-current-position-outer-point {
    background-color: $white;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.5);
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
  }

  .toolbar-current-position-inner-point {
    background-color: $green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    margin: 3px;
  }

  .volume-line-container {
    position: relative;
    display: inline-block;
    width: $volume-line-width;
    height: 8px;
    cursor: pointer;
  }

  .volume-container {

    margin-top: 8px;

    .volume-line {
      width: $volume-line-width;
      height: 4px;
      position: absolute;
      border-radius: 4px;
    }

    .volume-line-full{
      background-color: $green;
    }

    .volume-line-empty {
      background-color: $light-gray;
    }

    .volume-control-current-position-container {
      position: absolute;
      cursor: pointer;
      top: -6px;
      right: 0;
      width: 16px;
      height: 16px;
    }
  }

  .speed-container {

    display: inline-block;

    .speed-icon-container{
      width: 20px;
      height: 20px;
      display:inline-block;
    }

    .speed-control-current-position-container{
      position: absolute;
      top:4px;
      left:0;
    }

    .speed-stop-labels {
      width: $speed-line-width;
      display:inline-block;

      label {
        display: inline-block;
        font-size: 10px;
        margin-left: 15px;
        color: gray;
      }

      label:first-of-type{
        margin-left: 0;
      }

      label:last-of-type{
        margin-left: 7px;
      }

      label.selected {
        font-weight: bold;
        color: black;
      }
    }

    .speed-line-container {
      width: $speed-line-width;
      display:inline-block;
    }

    .speed-line-stops-container{
      position: relative;
      display:inline-block;
      width: $speed-line-width;
      height: 20px;
      cursor: pointer;
    }

    .line {
      position: absolute;
      top: 10px;
      left: 0;
      background-color: lightgray;
      height: 4px;
      border-radius: 4px;
      width: 180px;
      z-index: -1;
    }

    .speed-stops-container {
      width: 200px;

      .speed-stop {
        display:inline-block;
        height: 20px;
        width: 29px;
        cursor: pointer;

        .speed-stop-point{
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: lightgray;
          margin-top: 6px;
        }
      }

      .speed-stop:last-of-type{
        margin-left: 1px;
      }
    }
  }

  .unread-text-settings-container{

    .unread-text-settings-item{
      display:inline-block;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      border: solid gray 1px;
      margin: 5px;
      margin-left: 10px;
      cursor: pointer;
      color: $green;
      padding-left: 7px;
      padding-top: 2px;

      .icon-i-check{
        opacity: 0;
      }

      &.selected .icon-i-check {
        opacity: 1;
      }

      .icon-i-check:before{
        font-size: small;
      }

      &:first-of-type{
        margin-left: 0;
      }

      &.semi-visible{
        background-color: lightgray;
      }

      &.full-visible{
        background-color: black;
      }

      &.none-visible{
        background-color: white;
      }
    }
  }
}

// TOC - Table of Contents
$toc-width: 400px;

.menu-toc {
  position: fixed !important;
  left: -$toc-width;
  height: 100%;

  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  margin-top:-6px;

  &.open {
    left: 0 !important;
    z-index: 999;

    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

 .book-full {
    background: rgba(255,255,255,0.9);
    box-shadow: 0 2px 3px #999;
    max-width: $toc-width;
    padding: 12px;
    margin: 0;
    height: 100%;
    overflow-y: scroll;
    max-height: 90vh;
  }

  a {
    color: $jet;
  }

  // Font sizing
  ul, ol, li {
    font-size: rem-calc(14);
    list-style-type: none;
  }

  // TOC Pieces

  .book-part {
    margin-top: 10px;
    padding: 0 18px;
    color: lighten($jet, 50);
    font-size: rem-calc(11);
    font-weight: bold;
    text-transform: uppercase;
  }

  .book-chapter {
    position: relative;
    border: 1px solid transparent;

    a {
      display:inline-block;
      padding: 5px 12px;
      max-width: 320px;
      text-overflow: ellipsis;
    }

    &:hover {
      background: $base;
      border: 1px solid darken($base, 5);
      border-radius: $global-radius;

      .toc-toggle-button i:before{
        content: "▼";
      }
    }

    &.opened {
      background: $base;
      border: 1px solid darken($base, 5);
      border-radius: $global-radius;

      a:hover {
        background: transparent;
        border-color: transparent;
      }

      .book-sections-list {
        display: block;
      }

      .toc-toggle-button i:before {
        content: "▲" !important;
      }
    }

    &.contains-current-section > .toc-position-point > .toc-position-outer-point {
      background-color: $white;
      -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.5);
      -moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.5);
      box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.5);
    }

    &.contains-current-section > .toc-position-point > .toc-position-outer-point > .toc-position-inner-point {
      background-color: $green;
    }

    .toc-toggle-button {
      display:inline-block;
      position: absolute;
      right: 1em;
      top: 1em;
      font-size:xx-small;
      height: 2em;
      width: 1em;

      i:before{
        content: "\00a0";
      }

      color:$green;

      cursor: pointer;
    }
  }

  .book-sections-list {
    display: none;
  }

  .book-section {

    a {
      padding: 2px 12px;
      display: inline-block;
      max-width: 320px;
    }

    &.current-section .toc-position-outer-point {
      background-color: $white;

      -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.5);
      -moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.5);
      box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.5);
    }

    &.current-section .toc-position-outer-point > .toc-position-inner-point {
      background-color: $green;
    }
  }

  .book-section.current-section .toc-position-point:hover,
  .book-chapter.contains-current-section > .toc-position-point:hover {

    cursor: pointer;

    .toc-position-inner-point {
      background-color: transparent !important;
    }
  }

  .book-section.current-section .toc-position-point.pause-point:hover,
  .book-chapter.contains-current-section > .toc-position-point.pause-point:hover
  {
    i:before {
      content: "\e601" !important;
      margin-left: -1px;
    }
  }

  .book-section.current-section .toc-position-point:hover,
  .book-chapter.contains-current-section > .toc-position-point:hover
  {
    i:before {
      content: "\e602" !important;
      padding-left: 1px;
    }
  }

  .toc-position-point {
    display:inline-block;
    margin-left: 5px;
    vertical-align: middle;
    margin-top: -2px;
  }

  .toc-position-outer-point {
    display: block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;

    .toc-position-inner-point {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      margin: 2px;
      position: absolute;

      i:before {
        content: "\00a0";
        font-size:5px;
        display: block;
      }
    }
  }
}


//controls in navigator bar

.controls-container{
  fieldset {
    margin: 0.3rem 0;
  }

  /*.switch.tinier label{
    height: 1rem;
  }

  .switch.tinier label:after{
    height: 0.7rem;
    width: 0.7rem;
  }*/
}

.overlay-container {
  position: absolute;

  width: 40px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(217, 217, 217);
  border-radius: 5px;

  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.5);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 999;
  display: none;

  .overlay-container-header {
    padding: 8px 10px 0 12px;
    color: #6E7C34;
    font-size: 0.8125rem;
  }

  .overlay-container-body {
    position: relative;

    .speed-control-line-container {
      display: inline-block;
      width: 2px;
      background-color: lightgray;
      height: 80px;
      position: absolute;
      left: 8px;
      top: 20px;
    }

    .speed-control-stops-container {
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 4px;

      .speed-control-current-position-container {
        position: absolute;
        top: 60px;
        left: -1px;
        cursor: pointer;
      }

      .speed-control-stop-container {
        margin-top: 2px;
        margin-bottom: 2px;
        cursor: pointer;

        label {
          display: inline-block;
          width: 16px;
          text-align: right;
          cursor: pointer;
          font-size: 9px;
          padding-right: 2px;
        }

        .speed-control-stop {
          display:inline-block;
          width: 10px;
          height: 10px;
          background-color: lightgray;
          border-radius: 50%;
        }
      }

      .speed-control-stop-container:first-child {
        margin-top: 0px;
      }
    }
  }
}

// Dropdown
.f-dropdown.content {
  border-radius: 2px;
  margin-top: 7px;

  &::before,
  &::after {
    left: 50% !important;
    margin-left: -12px;
  }
  &::after {
    margin-left: -13px;
  }
}

.chapter-nav {
  h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    padding: 0;
    text-align: center;

  }

  ul {
    list-style: none;
    margin: 0;
  }
  li {
    margin: 0 -20px;
    padding: 4px 20px;
    position: relative;

    strong {
      position: absolute;
    }

    .section-title {
      padding: 0 5px 5px 35px;
    }

    a {
      padding: 0;
    }
  }
  .dropdown-footer {
    margin: 0 -20px -20px;
    padding: 10px 20px;
    position: relative;
    bottom: -20px;

    background-color: $base;
    border-top: 1px solid darken($base, 10);

    a {
      color: $jet;
      font-size: 13px;
      font-weight: bold;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid;

      }
    }
  }
}




// Video Player

.custom-flex-video-class {
  position: relative;
  padding-top: rem-calc(25);
  padding-bottom: 67.5%;
  height: 0;
  margin-top: rem-calc(16);
  margin-bottom: rem-calc(16);
  overflow: hidden;

  &.widescreen { padding-bottom: 56.34% }
  &.vimeo { padding-top: 0; }

  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}



// Text View
body { // putting this here for ease of comparing
  background: #fff;
}

.reveal-modal{
  max-width: 840px;
}

.text-wrapper {
  display: block;
  //background-color: #ffffff !important;
  padding: 2% 8%; // rem-calc(60) rem-calc(100) rem-calc(100);

  max-width: 840px;
  margin: 0 auto;

  @include radius;

  //box-shadow: 0 0 3px #ccc;
  font-family: $font-family-serif;

  ul {
    margin-left: 3rem;
  }

  h1, .head1 {
    font-weight: bold;
    font-size: rem-calc(32);
  }


  h2, .head2 {
    font-weight: bold;
    font-size: rem-calc(20);
  }

  h3, .head3 {
    font-weight: bold;
    font-size: rem-calc(18);
  }

  .head2, .head3 {
    margin-top: 7px;
  }

  h5 {
    font-size: rem-calc(14);
    font-weight: bold;
  }

  .codeFragment {
    @include radius;

    font-family: $font-family-monospace;
    padding: 3px 5px;
    border: 1px solid #DCDCDC;
    background-color: #F5F5F5;
    font-size: rem-calc(14);
  }

  p.singleImageParagraph{
    text-align: center;
  }

  .pulsingElement {
    -webkit-animation: pulse 2s infinite alternate;
    animation: pulse 2s infinite;

    @-webkit-keyframes pulse {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 215, 0, 0.5);
      }
      70% {
        -webkit-box-shadow: 0 0 0 3px rgba(255, 215, 0, 0.5);
      }
      100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 215, 0, 0.5);
      }
    }
    @keyframes pulse {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 215, 0, 0.5);
        -moz-box-shadow: 0 0 0 0 rgba(255, 215, 0, 0.5);
        box-shadow: 0 0 0 0 rgba(255, 215, 0, 0.5);
      }
      70% {
        -webkit-box-shadow: 0 0 0 3px rgba(255, 215, 0, 0.5);
        -moz-box-shadow: 0 0 0 3px rgba(255, 215, 0, 0.5);
        box-shadow: 0 0 0 3px rgba(255, 215, 0, 0.5);
      }
      100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 215, 0, 0.5);
        -moz-box-shadow: 0 0 0 0 rgba(255, 215, 0, 0.5);
        box-shadow: 0 0 0 0 rgba(255, 215, 0, 0.5);
      }
    }
  }

  .noteTipSection{
    @include radius;

    margin: 1em 0em 1em 2.2em;
    border: 1px solid #6E7C34;
    background-color: #C5CBAE;

    .textItemContainer {
      padding: 0 1em;
    }

    &.collapsed{
      border: 0;
    }
  }

  .textItemContainer{
    padding-top: 0;
    padding-left: 2.2em;
  }

  .questionsGroupContainer {
    margin: 30px 2.2em;
  }

  ul .textItemContainer {
    padding-top: 0;
    padding-left: 1em;
  }
}

#mainContentContainer
{
  padding: 0 2%;
  position: relative;
}

#trackPointColumn {
  display:inline-block;
  height: 100%;
  width: 1px;
  position: absolute;
  background-color: #EEE9E9;
}

.trackPointWrapper {
  position:absolute;
  left: -15px;
  visibility: hidden;
  height: 35px;
  width: 35px;
  z-index: 10;

  &:hover{
    cursor: pointer;
  }
}

.trackPoint {
  margin-top: 8px;
  margin-left: 4px;
  position: relative;
}

#currentPositionPoint .trackPointCircle {
  width: 16px;
  height: 16px;
  background-color: $green;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.5);

  border: 3px solid $white;

  transition: all .2s;
}

.trackPointPause {
  text-align: center;
  padding: 7px 0 0 0px;
  text-indent: -1px;
  width: 28px;
  height: 28px;
  background-color: $green;
  border-radius: 50%;
  top: -2px;
  left: -2px;
  position: absolute;
  color: $white;
  font-size: 70%;

  border: 3px solid $white;

  -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.5);

  transition: all .2s;


  i:before {
    content: "\e601";
    display: block;
    font-size: xx-small;
  }
}


.trackPointPlay {
  text-align: center;
  padding: 7px 0 0 2px;
  width: 28px;
  height: 28px;

  border-radius: 50%;
  top: -2px;
  left: -2px;
  position: absolute;
  color: $white;
  font-size: 70%;

  border: 2px solid $green;

  background-color: $green;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.5);

  transition: all .1s;

  i:before {
    content: "\e602";
    display: block;
  }
}

#playPoint {
  visibility: hidden;
}

#playPoint .icon-i-play-triangle {
  text-align: center;
  padding: 7px 0 0 2px;
  width: 28px;
  height: 28px;
  background-color: $white;
  border-radius: 50%;
  top: -2px;
  left: -2px;
  position: absolute;
  color: $green;
  font-size: 70%;

  border: 2px solid $green;

  -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.5);

  transition: all .2s;
}

#playPoint.focus-off-play-point .icon-i-play-triangle {
  border: 2px solid gray;
  color: gray;
}

#off-screen-position-point {
  &.shown {
    visibility: visible;
    position: fixed;
  }

  &.shown-top i:before{
    content: "\e614";
  }

  &.shown-bottom i:before{
    content: "\e615";
  }

  .off-screen-position-point-arrow-container {
    text-align: center;
    padding: 7px 0 0 2px;
    width: 28px;
    height: 28px;

    border-radius: 50%;
    top: -2px;
    left: -2px;
    position: absolute;
    font-size: 70%;

    color: $green;

    border: 2px solid $green;

    background-color: $white;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.5);

    i:before {
      display: block;
      font-size: small;
      margin-top: -1px;
      margin-left: -1px;
    }
  }
}

#bookMarkupContainer {
  position: relative;

  & > ul {
    margin-left: 0;
    padding-left: 4em;
  }

  & > form, & > table, & > .browsablePlaceholder {
    margin-left: 2.2em;
  }

  & > .browsablePlaceholder{
    margin: 1em 1.5em;
  }

  .collapsed {
    height: 0;
    overflow: hidden;
  }

  &.full-visible .focus-off,
  &.full-visible .focus-off .remaining-text,
  &.full-visible .emphasized-text {
    opacity: 1 !important;
    color: black !important;
  }

  .none-visible.focus-off,
  .none-visible.focus-off .remaining-text {
    opacity: 0;
  }

  .semi-visible.focus-off,
  .semi-visible.focus-off .remaining-text  {
    opacity: 0.4;
  }

  .button{
    background-color: $green;
  }

  .emphasized-text {
    color: $green;
    opacity: 1;
  }

  .remaining-text {

  }


  .textItemContainer > img,
  .textItemContainer>p:not(.singleImageParagraph) > img {
    cursor:pointer;
  }
}

.introductionSummary {
  @include panel;
  @include radius;

  background: $base;
  border-color: darken($base, 5);
  font-family: $font-family-sans-serif;

  margin: 1em 2.2em;

  h3 {
    font-size: rem-calc(18);
    font-weight: bold;
  }

  h3, ul, li, p {
    color: darken($base, 50);
  }
}

.chapter-summary-mainContainer {
  width: 100%;
  margin:0;
  background-color: $base;
  border-top: 1px solid darken($base, 10);

  .chapter-summary-box-container {
    width: 600px;
    padding: 20px 40px 40px;
    margin: 20px auto 0 auto;

    a {
      font-size: larger;
    }

    .chapter-summary-label {
      font-family: "Helvetica Neue Light";
      display:inline-block;
      font-style: italic;
      font-size: 20px;
      font-weight: 200;
    }

    .chapter-summary-nextChapter-heading a {
      color: $manning-secondary-color;
      font-weight: bold;
    }

    .chapter-summary-nextChapter-points {
      padding-left : 20px;
    }

    .next-chapter-button.button:hover {
      background-color: $green !important;
    }
  }
}

.browsable-container {
  background-color: white;
}

#bookMarkupContainer > .browsable-container {
  margin-left: 2.2em;
  margin-bottom: 2em;
}

.browsablePlaceholder .execution-environment-container{
  display:none;
}

.execution-environment-container {
  border: 1px solid #DCDCDC;
  background-color: #F5F5F5;
  border-radius: 4px;
  padding: 10px;
  margin-top: 5px;
  display:block;

  .button-hide{
    display: none;
  }

  .execution-environment-frame{
    width: 100%;
    height: 200px;
    display:none;
    margin-top: 10px;
  }

  .button-edit, .button-toggle-result{
    color: white;
    border-radius: 12px;
    font-size: smaller;
    padding: 3px 10px;
    display:inline-block;
    margin-right: 5px;
    background-color: $green;
    display:inline-block;
    font-family: $font-family-sans-serif;
    text-transform: lowercase;

    &.opened {
      background-color: darken($green, 10);
    }
  }
}

#iframe-edit-preview {
  width: 100%;
  height: 180px;
}

#modal-edit-code{

  .model-edit-code-container{
    margin-top: 20px;
  }

  .CodeMirror {
    border: 1px solid #eee;
    height: 220px;
  }

  .button{
    background-color: $green;
    margin: 3px;
  }
}


.button{
  background-color: $green;
}

// Hopefully this doesn't burn us down the road... but it makes the question bg work
body {
  overflow-x: hidden;
}

#bufferingContainer{
  position: fixed;
  width: 150px;
  right: 10px;
  bottom: 10px;
  color: white;
  text-align: center;
  display: none;

  & > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  & .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  & .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
  }

  @keyframes bouncedelay {
    0%, 80%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 40% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
}

.browsablePlaceholder
{
  color: lightgray;
  border: dashed 1px;
  cursor: pointer;

  & > * {
    position: absolute;
    overflow-y: auto;
    cursor: pointer;
    max-width: 630px;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    z-index: 10;
  }

  & > i {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    z-index: 11;
    font-style:normal;
    font-size: xx-large;
    opacity: 0;
  }
}

footer {
  padding: 30px 0 20px;
  background-color: $base;
  max-width: 100% !important;

  p {
    line-height: 1;
    font-size: 12px;
    text-align: center;
    color: $jet;
  }
}

#loading-overlay {
  position:fixed;
  width: 100%;
  height: 100vh;
  top:0;
  left:0;
  z-index:999;
  background-color: $base;

  .loader {
    font-size: 40px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0.8em auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease;
    animation: load6 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      box-shadow: 0 -0.83em 0 -0.4em $green, 0 -0.83em 0 -0.42em $green, 0 -0.83em 0 -0.44em $green, 0 -0.83em 0 -0.46em $green, 0 -0.83em 0 -0.477em $green;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em $green, 0 -0.83em 0 -0.42em $green, 0 -0.83em 0 -0.44em $green, 0 -0.83em 0 -0.46em $green, 0 -0.83em 0 -0.477em $green;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em $green, -0.087em -0.825em 0 -0.42em $green, -0.173em -0.812em 0 -0.44em $green, -0.256em -0.789em 0 -0.46em $green, -0.297em -0.775em 0 -0.477em $green;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em $green, -0.338em -0.758em 0 -0.42em $green, -0.555em -0.617em 0 -0.44em $green, -0.671em -0.488em 0 -0.46em $green, -0.749em -0.34em 0 -0.477em $green;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em $green, -0.377em -0.74em 0 -0.42em $green, -0.645em -0.522em 0 -0.44em $green, -0.775em -0.297em 0 -0.46em $green, -0.82em -0.09em 0 -0.477em $green;
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      box-shadow: 0 -0.83em 0 -0.4em $green, 0 -0.83em 0 -0.42em $green, 0 -0.83em 0 -0.44em $green, 0 -0.83em 0 -0.46em $green, 0 -0.83em 0 -0.477em $green;
    }
  }
  @keyframes load6 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      box-shadow: 0 -0.83em 0 -0.4em $green, 0 -0.83em 0 -0.42em $green, 0 -0.83em 0 -0.44em $green, 0 -0.83em 0 -0.46em $green, 0 -0.83em 0 -0.477em $green;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em $green, 0 -0.83em 0 -0.42em $green, 0 -0.83em 0 -0.44em $green, 0 -0.83em 0 -0.46em $green, 0 -0.83em 0 -0.477em $green;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em $green, -0.087em -0.825em 0 -0.42em $green, -0.173em -0.812em 0 -0.44em $green, -0.256em -0.789em 0 -0.46em $green, -0.297em -0.775em 0 -0.477em $green;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em $green, -0.338em -0.758em 0 -0.42em $green, -0.555em -0.617em 0 -0.44em $green, -0.671em -0.488em 0 -0.46em $green, -0.749em -0.34em 0 -0.477em $green;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em $green, -0.377em -0.74em 0 -0.42em $green, -0.645em -0.522em 0 -0.44em $green, -0.775em -0.297em 0 -0.46em $green, -0.82em -0.09em 0 -0.477em $green;
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      box-shadow: 0 -0.83em 0 -0.4em $green, 0 -0.83em 0 -0.42em $green, 0 -0.83em 0 -0.44em $green, 0 -0.83em 0 -0.46em $green, 0 -0.83em 0 -0.477em $green;
    }
  }
}

.listing-container {

  .code-area-container {
    position: relative;
  }

  .deemphasized-code {
    color: gray !important;
  }

  .code-annotations-overlay-container {
    position: absolute;
    top: 0;
    left: 0;

    .annotation-container {
      position: absolute;
      z-index: 90;

      &.multi-line-annotation{
        border-left: 1px solid gray;
      }

      .annotation-circle{
        position:relative;
        border-radius: 20px;
        background-color: black;
        color: white;
        text-align: center;

        font-size: 10px;
        font-weight: bold;

        padding: 1px 4px;
        left: -7px;
        cursor: pointer;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

        border-bottom: none;
      }
    }
  }

  .emphasized-code {
    font-weight: bolder;
  }

  .hidden-annotation {
    opacity: 0;
  };

  .shown-annotation {
    opacity: 1;
  }

  .emphasized-annotation {
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;
  }

  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
}

.progress-bar {
  width: 0px;
  height: 6px;
  background-color: #88B308;
}

#audio-mode-overlay{
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index:98;
  vertical-align: middle;
  display: none;
  padding-top: 15px;

  &.shown{
    display: table;
  }

  .audio-mode-title-container{
    text-align: left;
  }

  .trackPointWrapper{
    position: relative;
    visibility: visible;
    top: 5px;
    left: 0;
  }

  h5 {
    text-align: left;
  }

  .screensaver-container{
    overflow: hidden;
  }

  #audio-mode-arrow-overlay {
    @extend .arrow-overlay;

    position:absolute;
    right: 0;

    .icon-i-arrow-right {
      position: relative;
      top: 50%;
      left: 40%;
      font-size: xx-large;
    }
  }

  .text-wrapper {
    height: 100%;
    text-align: center;

    .audio-mode-content-container {
      margin-top: 25px;
      position: relative;
      padding: 5px;
      max-height: 80vh;
      overflow: auto;

      &.has-content {
        border: gray solid thin;
        border-radius: 5px;
        background-color: white;
      }

      pre, .code-area-container, .execution-environment-container {
        text-align: left;
      }
    }
  }
}

.tooltip {
  z-index:98;
  font-size: smaller;
  line-height: 1;
  padding: 5px;
}

#audio-mode-screensaver-overlay1, #audio-mode-screensaver-overlay2 {
  width: 100vw;
  height: 100vh;
  background-color: white;
  top: 0;
  left: 0;
  position:absolute;
  overflow: hidden;
  background: url(../img/screensaver0.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#audio-mode-screensaver-overlay2 {
  background: url(../img/screensaver1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0;
}

#audio-mode-overlay .audio-mode-title-container {
  color: white;
  position: relative;
}

.arrow-overlay{
  position:fixed;
  top:0;

  height: 100vh;
  width: 100px;
  max-width: 15vw;
  background-color: rgba(100, 100, 100, 0.5);
  cursor: pointer;

  opacity: 0;

  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.2s ease-in-out;

  &:hover{
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }
}

#text-mode-arrow-overlay{
  left: 0;

  //TODO - remove these transforms, they are here
  //because i don't have a left arrow in the font :(
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);

  @extend .arrow-overlay;

  .icon-i-arrow-left {
    position: relative;
    top: 50%;
    left: 40%;
    font-size: xx-large;
  }
}
