.pln {
  color: #4A4A4A;
}

@media screen {
  .str {
    color: #BE5A51;
  }

  .kwd {
    color: #AC6FC9;
  }

  .com {
    color: #800;
  }

  .typ {
    color: #606;
  }

  .lit {
    color: #066;
  }

  .pun,.opn,.clo {
    color: #4A4A4A;
  }

  .tag {
    color: #52BF64;
  }

  .atn {
    color: #606;
  }

  .atv {
    color: #080;
  }

  .dec,.var {
    color: #606;
  }

  .fun {
    color: red;
  };
}

@media print,projection {
  .str {
    color: #BE5A51;
  }

  .kwd {
    color: #AC6FC9;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #044;
  }

  .pun,.opn,.clo {
    color: #4A4A4A;
  }

  .tag {
    color: #52BF64;
    font-weight: bold;
  }

  .atn {
    color: #404;
  }

  .atv {
    color: #060;
  };
}

pre.prettyprint {
  padding: 15px 20px;
  border: 1px solid #DCDCDC;
  background-color: #F5F5F5;
  font-size: 1.25em;
  -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 5px 0 10px 0px;
  overflow-y: auto;
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 {
  list-style-type: none;
}

li.L1,li.L3,li.L5,li.L7,li.L9 {
  background: #eee;
}
