<div class="textItemContainer">
  <br>
  <h1>Chapter 2</h1>
  <h2 id="sec1">Section 1</h2>
  <p>Grunt tasks are configured in JavaScript, and most of the configuring can be done by passing
an object to grunt.initConfig, describing the files affected by the task, and passing in a
few options to tweak the behavior for a particular task target. In the case of a unit testing task,
you might have a target which runs just a few tests, for local development, while you'll want to
execute all the tests you have before a production release. Figure 2.2 below illustrates what
task configuration looks like in JavaScript code.</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec2">Section 2</h2>
  <p>Running the grunt command at this point won't achieve anything, since the only task
we've registered is an empty task alias. You must be really eager to set up your first Grunt task,
so let's do that. </p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec3">Section 3</h2>
  <p>Picture yourself using the Internet. There are numerous services that allow you to
aggregate the various social media profiles you may own. They'll present you with a fancy
dashboard that lets you manage all of your accounts in one place. They do so in such a way
that you can seamlessly add new profiles to your dashboard and still manage it all the same;
now you can both tweet and post status updates all from the same place. CSS pre-processors
are much like that: they provide you with the necessary tools to work in such a way that you
don't need to target each particular browser as you would need to if you didn't have them. By
driving these browser inconsistencies away, pre-processing languages increase your
productivity, and make it less tedious to do your job. </p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec4">Section 4</h2>
  <p>Before moving on, let me remind you that in this particular case less is the build task,
compile is a build target for that task, which offers configuration specific to that target. You
could easily provide different targets for the less task just by adding other properties to the
less object, just like we did in the compile task target, in the configuration we're handing
over to initConfig.  </p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec5">Section 5</h2>
  <p>This, in essence, is all that's required to write your own custom build tasks. Grunt has a pretty
extensive API that abstracts away common functionality, enabling us to easily address
configuration, perform I/O operations, execute tasks, and perform tasks asynchronously.
Luckily, this API is pretty well documented, so you should be sure to check it out on their
website. </p>
</div>

{{{EXERCISE}}}
