<div class="textItemContainer">
  <br/>
  <h1>Chapter 10. Hitting the database with Spring and JDBC</h1>
</div>

<div class="textItemContainer">
  <h2 id="ch10lev01sec00">10.1. Learning Spring's data-access philosophy</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch10lev01sec01">10.1.1. Getting to know Spring's data-access exception hierarchy</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch10lev01sec02">10.1.2. Templating data access</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">  
  <h2 id="ch10lev02sec00">10.2. Configuring a data source</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch10lev02sec01">10.2.1. Using JNDI data sources</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch10lev02sec02">10.2.2. Using a pooled data source</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch10lev02sec03">10.2.3. Using JDBC driver-based data sources</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch10lev02sec04">10.2.4. Using an embedded data source</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch10lev02sec05">10.2.5. Using profiles to select a data source</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch10lev03sec00">10.3. Using JDBC with Spring</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch10lev03sec01">10.3.1. Tackling runaway JDBC code</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch10lev03sec02">10.3.2. Working with JDBC templates</h2>
</div>


<div class="textItemContainer">
  <h2 id="ch10lev04sec00">10.4. Summary</h2>
</div>

{{{EXERCISE}}}
