<div class="textItemContainer">
  <br/>
  <h1>1. Java 8: why should you care?</h1>
  <p>No exercises in the chapter introduction</p>

  <h2 id="ch01lev01sec00">1.1 Why is Java still changing?</h2>
  <p>No exercises in this section</p>

  <h2 id="ch01lev02sec00">1.2 Functions in Java</h2>
  <p>Exercise to be placed at the end of section 1.2</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch01lev03sec00">1.3 Streams</h2>
  <p>Exercises to be placed at the end of section 1.3</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch01lev04sec00">1.4 Default methods</h2>
  <p>Exercise to be placed at the end of section 1.4</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch01lev05sec00">1.5 Other good ideas from functional programming</h2>
  <p>Exercise to be placed at the end of section 1.5</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch01lev06sec00">1.6 Summary</h2>
  <p>Exercise to be placed at the end of section 1.6</p>
</div>

{{{EXERCISE}}}
