<div class="textItemContainer">
  <br/>
  <h1>2. Passing code with behavior parameterization</h1>
  <p>No exercises in the chapter introduction</p>

  <h2 id="ch02lev01sec00">2.1 Coping with changing requirements</h2>
  <p>No exercises in this section</p>

  <h2 id="ch02lev02sec00">2.2 Behavior parameterization</h2>
  <p>Exercise to be placed at the end of section 2.2</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch02lev03sec00">2.3 Tackling verbosity</h2>
  <p>Exercise to be placed at the end of section 2.3</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch02lev04sec00">2.4 Real-world examples</h2>
  <p>No exercises in this section</p>

  <h2 id="ch02lev05sec00">2.5 Summary</h2>
  <p>No exercises in this section</p>
</div>