<div class="textItemContainer">
  <br/>
  <h1>7. Parallel data processing and performance</h1>
  <p>No exercises in the chapter introduction</p>

  <h2 id="ch07lev01sec00">7.1 Parallel streams</h2>
  <p>Exercises to be placed at the end of section 7.1</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch07lev02sec00">7.2 The fork/join framework</h2>
  <p>Exercises to be placed at the end of section 7.2</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch07lev03sec00">7.3 Spliterator</h2>
  <p>Exercises to be placed at the end of section 7.3</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch07lev04sec00">7.4 Summary</h2>
  <p>No exercises in this section</p>
</div>
