<div class="textItemContainer">
  <br/>
  <h1>12. New Date and Time API</h1>
  <p>Exercises to be placed at the end of chapter 12 introduction</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch12lev01sec00">12.1 LocalDate, LocalTime, Instant, Duration, and Period</h2>
  <p>Exercises to be placed at the end of section 12.1</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch12lev02sec00">12.2 Manipulating, parsing, and formatting dates</h2>
  <p>Exercises to be placed at the end of section 12.2</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch12lev03sec00">12.3 Working with different time zones and calendars</h2>
  <p>Exercises to be placed at the end of section 12.3</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch12lev04sec00">12.4 Summary</h2>
  <p>Exercises to be placed at the end of section 12.4</p>
</div>

{{{EXERCISE}}}
