<div class="textItemContainer">
  <br>
  <h1>Chapter 8</h1>
  <h2 id="sec1">Section 1</h2>
  <p>Running the tests will only be a matter of opening this HTML file with a browser. You'll come
back to Grunt later in the chapter to look at automating your testing process. Let's talk about
testing principles and how to apply them in JavaScript tests.</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec2">Section 2</h2>
  <p>That's it! Your event emitter implementation is fully tested. You only wrote assertions that
verify how the public API works, and you didn't meddle with implementation details. At this
point, you could add tests that deal with unconventional usage of the API, such as calling
emit() without any arguments. Then you could decide whether you'd want emit to throw an
exception in that particular case. Think of your tests as a formal and stricter API
documentation. </p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec3">Section 3</h2>
  <p>All of these examples can be found in the accompanying source code samples, under ch08.
Make sure to check them out. </p>
</div>

{{{EXERCISE}}}

 