<div class="textItemContainer">
  <br>
  <h1>Chapter 4</h1>
  <h2 id="sec1">Section 1</h2>
  <p>The above example configures the task to interlace jpg files found in the build/img
directory. The task doesn't need any extra configuration to compress the images; that's done
by default. As usual, a fully working example can be found in the accompanying source for this
chapter, with a complete build workflow for both the debug and release distributions. Now
that we made the web a slightly better place for humans to drift around aimlessly, we can turn
our attention to static asset caching.</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec2">Section 2</h2>
  <p>Now you're done building for release; your tests are passing, and you've updated your
changelog. You're ready to deploy to a hosted environment from which you can serve your
application. In the past, it was fairly commonplace to deploy applications merely by means of
uploading our built packages by hand to our production servers. Luckily, we've come a long
way from those good old days, and deployment tools, as well as application hosting platforms,
have gotten a lot better. Let's dive into Heroku, a Platform-as-a-Service (PaaS) provider that
enables you to deploy your application really easily from the command-line. </p>
</div>

{{{EXERCISE}}}









<div class="textItemContainer">
  <h2 id="sec3">Section 3</h2>
  <p>Once installed, we can now run our application through it, and pm2 will take care of setting up
cluster for us. Think of the command below as a drop-in replacement for node app. </p>
</div>

{{{EXERCISE}}}

 