<div class="textItemContainer">
  <br>
  <h1>Chapter 9</h1>
  <h2 id="sec1">Section 1</h2>
  <p>These guidelines get us to an interesting point. Let's make an example out of /api/
products to see how you can design the API in a way that's RESTful and consistent.</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec2">Section 2</h2>
  <p>This kind of safeguarding is usually unnecessary when dealing with an internal API, or
an API meant only for your front end, but it's a crucial measure to take when exposing the API publicly. Together with paging and caching, these measures help relieve the
strain on your back-end services. </p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec3">Section 3</h2>
  <p>You'll find a quick demo into how Measly works in the accompanying code samples
for this chapter, listed as ch09/01_a-measly-client-side-layer. In the demo I show how
to create different contexts to contain different requests to a portion of the DOM. </p>
</div>

{{{EXERCISE}}}

 