@font-face {
	font-family: 'manning';
	src:url('fonts/manning.eot?-k9rhd7');
	src:url('fonts/manning.eot?#iefix-k9rhd7') format('embedded-opentype'),
		url('fonts/manning.woff?-k9rhd7') format('woff'),
		url('fonts/manning.ttf?-k9rhd7') format('truetype'),
		url('fonts/manning.svg?-k9rhd7#manning') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'manning';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-i-volume:before {
	content: "\e604";
}

.icon-i-manning-m:before {
	content: "\e600";
}

.icon-i-pause:before {
	content: "\e601";
}

.icon-i-play-triangle:before {
	content: "\e602";
}

.icon-i-toc:before {
	content: "\e603";
}

.icon-i-rabbit:before {
	content: "\e605";
}

.icon-i-backward:before {
	content: "\e606";
}

.icon-i-forward:before {
	content: "\e607";
}

.icon-i-scooter:before {
	content: "\e608";
}

.icon-i-finish-line:before {
	content: "\e609";
}

.icon-i-eye:before {
	content: "\e60a";
}

.icon-i-speech-bubble:before {
	content: "\e60b";
}

.icon-i-refresh:before {
	content: "\e60c";
}

.icon-i-key:before {
	content: "\e60d";
}

.icon-i-check:before {
	content: "\e60e";
}

.icon-i-pencil-box:before {
	content: "\e60f";
}

.icon-i-arrow-right:before {
	content: "\e610";
}

.icon-i-collapse-triangle:before {
	content: "\e611";
}

.icon-i-expand-triangle:before {
	content: "\e612";
}

.icon-i-gear:before {
	content: "\e613";
}

.icon-i-arrow-up:before {
	content: "\e614";
}

.icon-i-arrow-down:before {
	content: "\e615";
}

