<div class="textItemContainer">
  <br/>
  <h1>9. Default methods</h1>
  <p>Exercises to be placed at the end of chapter 9 introduction</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch09lev01sec00">9.1 Evolving APIs</h2>
  <p>Exercises to be placed at the end of section 9.1</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch09lev02sec00">9.2 Default methods in a nutshell</h2>
  <p>Exercises to be placed at the end of section 9.2</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch09lev03sec00">9.3 Usage patterns for default methods</h2>
  <p>Exercises to be placed at the end of section 9.3</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch09lev04sec00">9.4 Resolution rules</h2>
  <p>Exercises to be placed at the end of section 9.4</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch09lev05sec00">9.5 Summary</h2>
  <p>No exercises in this section</p>
</div>
