<div class="textItemContainer">
  <br/>
  <h1>3. Lambda expressions</h1>
  <p>No exercises in the chapter introduction</p>

  <h2 id="ch03lev01sec00">3.1 Lambdas in a nutshell</h2>
  <p>No exercises in this section</p>

  <h2 id="ch03lev02sec00">3.2 Where and how to use lambdas</h2>
  <p>Exercises to be placed at the end of section 3.2</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch03lev03sec00">3.3 Putting lambdas into practice: the execute around pattern</h2>
  <p>No exercises in this section</p>

  <h2 id="ch03lev04sec00">3.4 Using functional interfaces</h2>
  <p>Exercises to be placed at the end of section 3.4</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch03lev05sec00">3.5 Type checking, type inference, and restrictions</h2>
  <p>No exercises in this section</p>

  <h2 id="ch03lev06sec00">3.6 Method references</h2>
  <p>Exercises to be placed at the end of section 3.6</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch03lev07sec00">3.7 Putting lambdas and method references into practice!</h2>
  <p>Exercise to be placed at the end of section 3.7</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch03lev08sec00">3.8 Useful methods to compose lambda expressions</h2>
  <p>Exercises to be placed at the end of section 3.8</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch03lev09sec00">3.9 Similar ideas from mathematics</h2>
  <p>No exercises in this section</p>

  <h2 id="ch03lev10sec00">3.10 Summary</h2>
  <p>Exercises to be placed at the end of section 3.10</p>
</div>

{{{EXERCISE}}}
