<div class="textItemContainer">
  <br/>
  <h1>4. Introducing streams</h1>
  <p>No exercises in the chapter introduction</p>

  <h2 id="ch04lev01sec00">4.1 What are streams?</h2>
  <p>No exercises in this section</p>

  <h2 id="ch04lev02sec00">4.2 Getting started with streams</h2>
  <p>No exercises in this section</p>

  <h2 id="ch04lev03sec00">4.3 Streams vs. collections</h2>
  <p>Exercise to be placed at the end of section 4.3</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch04lev04sec00">4.4 Stream operations</h2>
  <p>Exercises to be placed at the end of section 4.4</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch04lev05sec00">4.5 Summary</h2>
  <p>Exercises to be placed at the end of section 4.5</p>
</div>

{{{EXERCISE}}}
