<div class="textItemContainer">
  <br>
  <h1>Chapter 1</h1>
  <h2 id="sec1">Section 1</h2>
  <p>When it comes to JavaScript, given that interpreted languages don't need a compiler, the
naive developer might think that that is justification enough to ditch the build process entirely.
The problem when going down that road is you'll be shooting in the dark; you won't know
whether your code works until it's executed by a browser; you won't know whether it does
what you expect it to, either. Later on, you might find yourself manually deploying to a hosting
environment, and logging into it remotely to tweak a few configuration settings to make it work.</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec2">Section 2</h2>
  <p>
    As the figure above illustrates, there are two main components in Build First applications: the
processes surrounding the project, and the quality of the application code itself. Both are
equally important, and they depend on each other to thrive. Good processes won't do us any
good if we're lacking in our application design. Similarly, good design won't be able to survive
crises, like the ones I've described earlier, without the help of decent build and deployment
procedures. </p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec3">Section 3</h2>
  <p>The bottom of the figure shows the deployment process, which takes either of these
distributions (that's what I call distinct process flows with a specific purpose, throughout the
book), and deploys it to a hosted environment. This package will work together with the
environment-specific configuration, (which keeps secrets, such as database connection strings
or API keys, safe, and is discussed in Chapter 3) to serve the application. </p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec4">Section 4</h2>
  <p>One of the most common ways to add a task to a build process, is being able to execute that
task using a command line. If we are able to execute the task from the command-line, then it'll
be really easy to integrate it to our build process. We are going to use JSHint 2 to lint our
software. Their command line tool is written in Node.js, which is a platform for developing
applications using JavaScript. For a quick overview of Noje.js fundamentals, refer to Appendix
A, where I'll explain what modules are, and how they work. This will be useful when working
with Grunt, our build tool of choice.  </p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec5">Section 5</h2>
  <p>Every language has its own set of build tools you can use; most have a tool that stands out
among them, and which sees far wider adoption than the rest. When it comes to JavaScript
build systems, Grunt is one of the most popular tools, with thousands of plugins (which help
you with some build task) to pick from. If you are writing a build process for another language,
you'll probably want to do some research of your own. Even though the build tasks in the book
are written in JavaScript, and using Grunt, the principles I describe should apply to pretty much
any language and build tool. </p>
</div>

{{{EXERCISE}}}
