<div class="textItemContainer">
  <br/>
  <h1>Heading 1</h1>
  <p>Some text</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch01lev03sec00">Heading 2</h2>
  <p>Some text</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch01lev04sec00">Heading 3</h2>
  <p>More text</p>
</div>
