<div class="textItemContainer">
  <br/>
  <h1>11. CompletableFuture: composable asynchronous programming</h1>
  <p>Exercises to be placed at the end of chapter 11 introduction</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch11lev01sec00">11.1 Futures</h2>
  <p>Exercises to be placed at the end of section 11.1</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch11lev02sec00">11.2 Implementing an asynchronous API</h2>
  <p>Exercises to be placed at the end of section 11.2</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch11lev03sec00">11.3 Make your code non-blocking</h2>
  <p>Exercises to be placed at the end of section 11.3</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch11lev04sec00">11.4 Pipelining asynchronous tasks</h2>
  <p>Exercises to be placed at the end of section 11.4</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch11lev05sec00">11.5 Reacting to a CompletableFuture completion</h2>
  <p>Exercises to be placed at the end of section 11.5</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch11lev06sec00">11.6 Summary</h2>
  <p>No exercises in this section</p>
</div>
