<div class="textItemContainer">
  <br/>
  <h1>Chapter 1. Springing into action</h1>
</div>

<div class="textItemContainer">
  <h2 id="ch01lev01sec00">1.1. Simplifying Java development</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch01lev01sec01">1.1.1. Unleashing the power of POJOs</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch01lev01sec02">1.1.2. Injecting dependencies</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch01lev01sec03">1.1.3. Applying aspects</h2>
</div>

<div class="textItemContainer">  
  <h2 id="ch01lev01sec04">1.1.4. Eliminating boilerplate code with templates</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">  
  <h2 id="ch01lev02sec00">1.2. Containing your beans</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch01lev02sec01">1.2.1. Working with an application context</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch01lev02sec02">1.2.2. A bean's life</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch01lev03sec00">1.3. Surveying the Spring landscape</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch01lev03sec01">1.3.1. Spring modules</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch01lev03sec02">1.3.2. The Spring portfolio</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch01lev04sec00">1.4. What's new in Spring</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch01lev04sec01">1.4.1. What was new in Spring 3.1?</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch01lev04sec02">1.4.2. What was new in Spring 3.2?</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch01lev04sec03">1.4.3. What's new in Spring 4.0?</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch01lev05sec00">1.5. Summary</h2>
</div>

{{{EXERCISE}}}
