<div class="textItemContainer">
  <br>
  <h1>Chapter 7</h1>
  <h2 id="sec1">Section 1</h2>
  <p>Controllers, which fill the models before rendering their related views, and manage
human interaction with the component.</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec2">Section 2</h2>
  <p>Let's get a little deeper into JavaScript MVC, which spans the rest of this chapter. </p>
</div>

{{{EXERCISE}}}

