<div class="textItemContainer">
  <br/>
  <h1>Chapter 5. Building Spring web applications</h1>
</div>

<div class="textItemContainer">
  <h2 id="ch05lev01sec00">5.1. Getting started with Spring MVC</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch05lev01sec01">5.1.1. Following the life of a request</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch05lev01sec02">5.1.2. Setting up Spring MVC</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch05lev01sec03">5.1.3. Introducing the Spittr application</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch05lev02sec00">5.2. Writing a simple controller</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch05lev02sec01">5.2.1. Testing the controller</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch05lev02sec02">5.2.2. Defining class-level request handling</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch05lev02sec03">5.2.3. Passing model data to the view</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">  
  <h2 id="ch05lev03sec00">5.3. Accepting request input</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch05lev03sec01">5.3.1. Taking query parameters</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch05lev03sec02">5.3.2. Taking input via path parameters</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch05lev04sec00">5.4. Processing forms</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch05lev04sec01">5.4.1. Writing a form-handling controller</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch05lev04sec02">5.4.2. Validating forms</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch05lev06sec00">5.5. Summary</h2>
</div>
