<div class="textItemContainer">
  <br/>
  <h1>16. Conclusions and where next for Java</h1>
  <p>No exercises in the chapter introduction</p>

  <h2 id="ch13lev01sec00">16.1 Review of Java 8 features</h2>
  <p>Exercises to be placed at the end of section 16.1</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch16lev02sec00">16.2 What's ahead for Java?</h2>
  <p>Exercises to be placed at the end of section 16.2</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch16lev03sec00">16.3 Summary</h2>
  <p>No exercises in this section</p>
</div>
