<div class="textItemContainer">
  <br/>
  <h1>10. Using Optional as a better alternative to null</h1>
  <p>No exercises in the chapter introduction</p>

  <h2 id="ch10lev01sec00">10.1 How do you model the absence of a value?</h2>
  <p>Exercises to be placed at the end of section 10.1</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch10lev02sec00">10.2 Introducing the Optional class</h2>
  <p>Exercises to be placed at the end of section 10.2</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch10lev03sec00">10.3 Patterns for adopting Optional</h2>
  <p>Exercises to be placed at the end of section 10.3</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch10lev04sec00">10.4 Practical examples of using Optional</h2>
  <p>Exercises to be placed at the end of section 10.4</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch10lev05sec00">10.5 Summary</h2>
  <p>No exercises in this section</p>
</div>
