<div class="textItemContainer">
  <br/>
  <h1>5. Working with streams</h1>
  <p>No exercises in the chapter introduction</p>

  <h2 id="ch05lev01sec00">5.1 Filtering and slicing</h2>
  <p>Exercises to be placed at the end of section 5.1</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">

  <h2 id="ch05lev02sec00">5.2 Mapping</h2>
  <p>No exercises in this section</p>

  <h2 id="ch05lev03sec00">5.3 Finding and matching</h2>
  <p>Exercises to be placed at the end of section 5.3</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch05lev04sec00">5.4 Reducing</h2>
  <p>Exercises to be placed at the end of section 5.4</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch05lev05sec00">5.5 Putting it all into practice</h2>
  <p>Exercise to be placed at the end of section 5.5</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch05lev06sec00">5.6 Numeric streams</h2>
  <p>Exercises to be placed at the end of section 5.6</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch05lev07sec00">5.7 Building streams</h2>
  <p>Exercises to be placed at the end of section 5.7</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch05lev08sec00">5.8 Summary</h2>
  <p>No exercises in this section</p>
</div>
