.tooltipster-content img
{
    cursor: pointer;
}

.ch-time
{
    display: none;
}

.mejs-chapter-block
{
    min-height: 20px;
    text-align: center;
    vertical-align: middle;
}

#manningContainer
{
    position: relative;
    width: 960px;
    height: 540px;
    margin-left: auto;
    margin-right: auto
}

.mejs-chapters, .mejs-controls
{
    z-index: 10;
}

#manningScenesContainer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 960px;
    height: 540px;
    overflow: hidden;
    cursor:grab;
    cursor:-webkit-grab;
    display:none;
}

#manningScenesContainer:active
{
    cursor:grabbing;
    cursor:-webkit-grabbing
}

#manningScenesContainer .sceneContainer
{
    position: relative;
    width: 960px;
    height: 540px;
    background-color: white;
}

#manningScenesContainer .sceneContainer > .stepContainer
{
    position: absolute;
    top: 0;
    left:0;
    display: none;
    width: 960px;
    -webkit-user-drag: none;
    height: 540px;
    pointer-events: none;
    user-drag: none;
}

#manningScenesContainer .sceneContainer > .stepContainer:first-of-type
{
    display: block;
}

#manningScenesContainer .stepButtonsContainer
{
    position: absolute;
    top: 91%;
    right: 2%;
    cursor: pointer;
    height: 30px;
    padding-top: 3px;
}

#manningScenesContainer .stepButtonsContainer > .stepButton
{
    background-color: #a0a0a0;
    display: inline-block;
    margin: 2px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    font-weight: bolder;
    opacity: 0.7;
    border-radius: 50%;
}

#manningScenesContainer .stepButtonsContainer > .stepButton.active
{
    background-color: #212121;
}

#manningScenesContainer .annotationContainer
{
    position: absolute;
    border-style: solid;
    cursor: pointer;
    border-color: transparent;
    pointer-events: auto;
}


#manningScenesContainer .annotation
{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border-color: black;
    background-color: gray;
    border-style: solid;
    position: absolute;
    pointer-events: auto;
    opacity: 0;
}

#manningScenesContainer .annotationContainer.hover,
#manningScenesContainer .annotation:hover,
#manningScenesContainer .annotationContainer:hover .annotation
{
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px #FFD700;
    opacity: 1;
    border-color:gold;
}

#manningScenesContainer .stepPlayButton
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 40px;
    border-color: transparent transparent transparent #000000;
    -webkit-transform:rotate(360deg);
    pointer-events: auto;
}

#manningScenesContainer .stepPlayButton:hover
{
    cursor: pointer;
}

#manningContainer .form-questions
{
    background-color: #D6D6D6;
    height: 100%;
    pointer-events: none;
    padding: 15px;
}

#manningContainer .form-questions .form-answer
{
    margin-left: 10px;
    pointer-events: auto;
}

#manningContainer .form-questions .form-answer label
{
    font-size: larger;
    margin-left: 10px;
}

#manningContainer .form-questions .form-answer label input
{
    margin-right: 10px;
}

#manningContainer .form-questions .manningButton
{
    position: absolute;
    background-color: #6E7C34;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    pointer-events: auto;
    bottom: 20px;
    right: 20px;
}

#manningContainer .form-questions .button-check-answers
{
    bottom: 20px;
    right: 80px;
}


#manningContainer .summaryPoster
{
    pointer-events: auto;
    cursor: pointer;
}

#manningContainer .summaryLabel
{
    position: absolute;
    display: inline-block;
    bottom: 30px;
    text-align: center;
    left: 40%;
    cursor: pointer;
    color: white;
    font-size: xx-large;
}

#manningContainer .correctAnswer
{
    color: green;
}

#manningContainer .inCorrectAnswer
{
    color: red;
}