/**
 * Monokai theme
 *
 * Adapted from Wimer Hazenberg's TextMate theme of the same name
 *
 * @author Wimer Hazenberg
 * @author Michael Fasani
 * @author Craig Campbell
 * @version 1.0.0
 */
pre {
    background: #F5F5F5;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px 15px;
    color: #4A4A4A;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid #DCDCDC;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #75715E;
}

pre .constant {
    color: #AE81FF;
}

pre .storage {
    color: #66D9EF;
}

pre .string, pre .comment.docstring {
    color: #E6DB74;
}

pre .support.tag {
    color: #fff;
}

pre .keyword {
    /* @todo some keywords use this light blue, most use the pink */
    /*color: #66D9EF;*/
    color: #F92672;
}

pre .selector {
    color: #F92672;
}

pre .inherited-class {
    font-style: italic;
}

pre .operator, pre .support.tag-name , pre .entity.tag {
    color: #F92672;
}

pre .entity, pre .support.attribute, pre .entity.attribute {
    color: #A6E22E;
}

pre .support, *[data-language="c"] .function.call {
    color: #66D9EF;
}

*[data-language="html"] .support.operator {
    color: #fff;
}

pre .css-property, pre .storage.function {
    font-style: italic;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #A6E22E;
}