<div class="textItemContainer">
  <br/>
  <h1>Chapter 2. Wiring beans</h1>
</div>

<div class="textItemContainer">
  <h2 id="ch02lev01sec00">2.1. Exploring Spring's configuration options</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch02lev02sec00">2.2. Automatically wiring beans</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch02lev02sec01">2.2.1. Creating discoverable beans</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch02lev02sec02">2.2.2. Naming a component-scanned bean</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch02lev02sec03">2.2.3. Setting a base package for component scanning</h2>
</div>

<div class="textItemContainer">  
  <h2 id="ch02lev02sec04">2.2.4. Annotating beans to be automatically wired</h2>
</div>

<div class="textItemContainer">  
  <h2 id="ch02lev02sec05">2.2.5. Verifying automatic configuration</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">  
  <h2 id="ch02lev03sec00">2.3. Wiring beans with Java</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch02lev03sec01">2.3.1. Creating a configuration class</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch02lev03sec02">2.3.2. Declaring a simple bean</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch02lev03sec03">2.3.3. Injecting with JavaConfig</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch02lev04sec00">2.4. Wiring beans with XML</h2>
</div>


<div class="textItemContainer">
  <h2 id="ch02lev04sec01">2.4.1. Creating an XML configuration specification</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch02lev04sec02">2.4.2. Declaring a simple &lt;bean&gt;</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch02lev04sec03">2.4.3. Initializing a bean with constructor injection</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch02lev04sec04">2.4.4. Setting properties</h2>
</div>


<div class="textItemContainer">
  <h2 id="ch02lev05sec00">2.5. Importing and mixing configurations</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch02lev05sec01">2.5.1. Referencing XML configuration in JavaConfig</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch02lev05sec02">2.5.2. Referencing JavaConfig configuration in XML configuration</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch02lev06sec00">2.6. Summary</h2>
</div>

{{{EXERCISE}}}
