<div class="textItemContainer">
  <br/>
  <h1>Chapter 6. Rendering web views</h1>
</div>

<div class="textItemContainer">
  <h2 id="ch06lev01sec00">6.1. Understanding view resolution</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch06lev02sec00">6.2. Creating JSP views</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch06lev02sec01">6.2.1. Configuring a JSP-ready view resolver</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch06lev02sec02">6.2.2. Using Spring's JSP libraries</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">  
  <h2 id="ch06lev03sec00">6.3. Defining a layout with Apache Tiles views</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch06lev03sec01">6.3.1. Configuring a Tiles view resolver</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch06lev04sec00">6.4. Working with Thymeleaf</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch06lev04sec01">6.4.1. Configuring a Thymeleaf view resolver</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch06lev04sec02">6.4.2. Defining Thymeleaf templates</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch06lev05sec00">6.5. Summary</h2>
</div>

{{{EXERCISE}}}
