<audio id="audioPlayer" src="{{AUDIO_LOCATION}}" preload="auto">
    <track mode="hidden" kind="captions" src="{{SUBTITLE_LOCATION}}" srclang="en" label="English">
    Your browser does not support the <code>audio</code> element.
</audio>
