<div class="execution-environment-container">
  <div class="execution-environment-toolbar">
    <a href="#" class="button-toggle-result"><i class="icon-i-result"></i><span>Show Result</span></a>
    <a href="#" class="button-edit"><i class="icon-i-edit"></i>Edit</a>
  </div>
  <iframe src="about:blank" class="execution-environment-frame">
  </iframe>
</div>
