<div class="textItemContainer">
  <br/>
  <h1>Chapter 4. Aspect-oriented Spring</h1>
</div>

<div class="textItemContainer">
  <h2 id="ch04lev01sec00">4.1. What is aspect-oriented programming?</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch04lev01sec01">4.1.1. Defining AOP terminology</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch04lev01sec02">4.1.2. Spring's AOP support</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch04lev02sec00">4.2. Selecting join points with pointcuts</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch04lev02sec01">4.2.1. Writing pointcuts</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch04lev02sec02">4.2.2. Selecting beans in pointcuts</h2>
</div>

<div class="textItemContainer">  
  <h2 id="ch04lev03sec00">4.3. Creating annotated aspects</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch04lev03sec01">4.3.1. Defining an aspect</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch04lev03sec02">4.3.2. Creating around advice</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch04lev03sec03">4.3.3. Handling parameters in advice</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch04lev03sec04">4.3.4. Annotating introductions</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch04lev04sec00">4.4. Declaring aspects in XML</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch04lev04sec01">4.4.1. Declaring before and after advice</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch04lev04sec02">4.4.2. Declaring around advice</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch04lev04sec03">4.4.3. Passing parameters to advice</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch04lev04sec04">4.4.4. Introducing new functionality with aspects</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch04lev05sec00">4.5. Injecting AspectJ aspects</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch04lev06sec00">4.6. Summary</h2>
</div>

