<div class="textItemContainer">
  <br/>
  <h1>14. Functional programming techniques</h1>
  <p>No exercises in the chapter introduction</p>

  <h2 id="ch13lev01sec00">14.1 Functions everywhere</h2>
  <p>Exercises to be placed at the end of section 14.1</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch14lev02sec00">14.2 Persistent data structures</h2>
  <p>Exercises to be placed at the end of section 14.2</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch14lev03sec00">14.3 Lazy evaluation with streams</h2>
  <p>Exercises to be placed at the end of section 14.3</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch14lev04sec00">14.4 Pattern matching</h2>
  <p>Exercises to be placed at the end of section 14.4</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch14lev05sec00">14.5 Miscellany</h2>
  <p>Exercises to be placed at the end of section 14.5</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch14lev06sec00">14.6 Summary</h2>
  <p>No exercises in this section</p>
</div>
