<div class="textItemContainer">
  <br/>
  <h1>6. Collecting data with streams</h1>
  <p>No exercises in the chapter introduction</p>

  <h2 id="ch06lev01sec00">6.1 Collectors in a nutshell</h2>
  <p>No exercises in this section</p>

  <h2 id="ch06lev02sec00">6.2 Reducing and summarizing</h2>
  <p>Exercises to be placed at the end of section 6.2</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch06lev03sec00">6.3 Grouping</h2>
  <p>Exercises to be placed at the end of section 6.3</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch06lev04sec00">6.4 Partitioning</h2>
  <p>Exercises to be placed at the end of section 6.4</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch06lev05sec00">6.5 The Collector interface</h2>
  <p>Exercise to be placed at the end of section 6.5</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch06lev06sec00">6.6 Developing your own collector for better performance</h2>
  <p>Exercise to be placed at the end of section 6.6</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch06lev07sec00">6.7 Summary</h2>
  <p>Exercise to be placed at the end of section 6.7</p>
</div>

{{{EXERCISE}}}
