<div class="textItemContainer">
  <br>
  <h1>Chapter 3</h1>
  <h2 id="sec1">Section 1</h2>
  <p>What is so different about local development in comparison with other environments? Well, a
lot, and ideally, not so much. The two most remarkable differences are that this is the
environment where you'll spend most of your time, and that it doesn't matter if something
stops working; you can always fix it, and nobody else is going to notice it. In contrast, you
should spend little time in production, since that probably translates into people not being able
to use your product, and if something stops working, that won't be very good either. We'll go over measures to mitigate and monitor for problems in release-grade environments in the next
chapter.</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec2">Section 2</h2>
  <p>How can we go with that approach without sharing everything with everyone? You might be
thinking that's not a big deal; it's not as if we're going to open-source our project overnight.
But if you are thinking like that, you're missing the point entirely. It's just not good practice to
give everyone access to potentially sensible information about your production environment.
And there's no reason to -- that configuration should belong with that environment, nowhere
else. </p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec3">Section 3</h2>
  <p>Once we've set up this module, we can use it to get configuration values from any of those
stores, in order of appearance. Meaning that if we provide a command-line argument such as -
-PORT 80, it won't matter we had "PORT": 3000 in our development JSON file: we'll still be
using port 80. Again, you'll find a complete example in the accompanying source code, also
detailing how to use nconf when going the Heroku route. This will prove very useful in the
following chapter, so I'd advise you to read this chapter to the end, and then get up to speed
with the code samples, if you haven't gone through them yet. </p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec4">Section 4</h2>
  <p>All the editors I mentioned are capable of auto-saving, if the editor you're using isn't, I
strongly suggest you switch to one that is. You'll be uncomfortable at first, but you'll quickly
start writing thank you notes for me using your new text editor. </p>
</div>

{{{EXERCISE}}}

 