<div class="question-container arrange-code">
    {{{QUESTION_HEADER}}}
    <div class="arrange-code-container">
        <div name="{{name}}" id="{{id}}">
            <div class="arrange-code-fragments"></div>
            <pre class="arrange-code-inputs prettyprint">{{code}}</pre>
        </div>
    </div>
    {{{TOOLBAR}}}
    {{{EXPLANATION_HINT}}}
</div>
