<div class="question-container choose-multiple">

  {{{QUESTION_HEADER}}}

  {{#code}}
  <pre class='prettyprint'>{{code}}</pre>
  {{/code}}

  Options:
  <div class="options-container">
  {{#options}}
    <div class="draggable-option-container">
      <span class="draggable-option-value">{{value}}</span>
      <span class="correct-status {{correctStatus}}"><i></i></span>
    </div>
  {{/options}}
  </div>

  Answer:
  <div class="answers-container">
  </div>

  {{{TOOLBAR}}}
  {{{EXPLANATION_HINT}}}
</div>
