<div class="question-container choose-one">

  {{{QUESTION_HEADER}}}

  {{#code}}
    <pre class='prettyprint'>{{code}}</pre>
  {{/code}}

  <form>
  {{#options}}
    <div class="question-answer row">
      <div class="small-1 medium-1 large-1 columns">
        <input type="radio" name="{{name}}" id="{{id}}" correct-status="{{correctStatus}}"/>
      </div>
      <div class="small-10 medium-10 large-10 columns">
        <label class="answer-option" for="{{id}}">{{value}}</label>
      </div>

      <div class="small-1 medium-1 large-1 columns">
        <span class="correct-status {{correctStatus}}"><i></i></span>
      </div>
    </div>
  {{/options}}
  </form>

  {{{TOOLBAR}}}
  {{{EXPLANATION_HINT}}}
</div>
