{{#hint}}
<div class="hint-container question-tip-container">
  <div class="close-question-tip">×</div>
  <div class="tip-content">{{hint}}</div>
</div>
{{/hint}}

{{#explanation}}
<div class="explanation-container question-tip-container">
  <div class="close-question-tip">×</div>
  <div class="tip-content">{{explanation}}</div>
</div>
{{/explanation}}
