<div class="question-container give-answer">

    {{{QUESTION_HEADER}}}

    {{#code}}
    <pre class='prettyprint'>{{code}}</pre>
    {{/code}}

    Answer:
    <div class="options-container">
        <div class="row">
          <div class="large-12 columns">
            <label>
              <input class="give-answer-input" name="{{name}}" id="{{id}}" correctAnswer="{{correctAnswer}}"/>
              <span class="correct-status"><i></i></span>
            </label>
          </div>
        </div>
    </div>

    {{{TOOLBAR}}}
    {{{EXPLANATION_HINT}}}
</div>
