<div class="question-container match-items-description">

  {{{QUESTION_HEADER}}}

  {{#code}}
    <pre class='prettyprint'>{{code}}</pre>
  {{/code}}

  <div class="question-draggable-items">
  {{#options}}
    <div class="question-draggable-item" index="{{index}}">{{value}}</div>
  {{/options}}
  </div>

  <table class="question-descriptions-container">

  {{#descriptions}}
    <tr class="question-description-item">
      <td>{{value}}:</td>
      <td class="question-description-item-place" matchingIndex={{matchingIndex}}></td>
      <td><span class="correct-status"><i></i></span></td>
    </tr>
  {{/descriptions}}
  </table>

  {{{TOOLBAR}}}
  {{{EXPLANATION_HINT}}}
</div>
