<div class="browsable-container questionsGroupContainer row">
  <div class="quizBackground"></div>
  <div class="small-5 small-centered columns">
    <a href="#" class="button-questions">
      <i class="icon-i-knowledge-quiz"></i>Exercise<i class="icon-i-knowledge-quiz-close"></i>
    </a>
  </div>
  <div class="questions-container collapsed">
    {{{QUESTIONS}}}

    <div class="small-5 small-centered columns">
      <a href="#" class="button-questions inner-quiz-button">
        <i class="icon-i-knowledge-quiz"></i>Exercise<i class="icon-i-knowledge-quiz-close"></i>
      </a>
    </div>
  </div>
</div>
