<div class="question-toolbar">
  <a href="#" class="toolbar-button button-check"><i class="icon-i-check"></i>check answer</a>
  <span class="toolbar-separator"></span>
  <a href="#" class="toolbar-button button-show-answer"><i class="icon-i-show-answer"></i>Show answer</a>
  {{#explanation}}
  <a href="#" class="toolbar-button button-explain"><i class="icon-i-show-explain"></i>Explain</a>
  {{/explanation}}
  {{#hint}}
  <a href="#" class="toolbar-button button-hint"><i class="icon-i-show-hint"></i>Hint</a>
  {{/hint}}
  <a href="#" class="toolbar-button button-reset"><i class="icon-i-reset"></i></a>
</div>
