<div class="textItemContainer">
  <br/>
  <h1>Chapter 3. Advanced wiring</h1>
</div>

<div class="textItemContainer">
  <h2 id="ch03lev01sec00">3.1. Environments and profiles</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch03lev01sec01">3.1.1. Configuring profile beans</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch03lev01sec02">3.1.2. Activating profiles</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch03lev02sec00">3.2. Conditional beans</h2>
</div>

<div class="textItemContainer">  
  <h2 id="ch03lev03sec00">3.3. Addressing ambiguity in autowiring</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch03lev03sec01">3.3.1. Designating a primary bean</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch03lev03sec02">3.3.2. Qualifying autowired beans</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch03lev04sec00">3.4. Scoping beans</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch03lev04sec01">3.4.1. Working with request and session scope</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch03lev04sec02">3.4.2. Declaring scoped proxies in XML</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch03lev05sec00">3.5. Runtime value injection</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch03lev05sec01">3.5.1. Injecting external values</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch03lev05sec02">3.5.2. Wiring with the Spring Expression Language</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch03lev06sec00">3.6. Summary</h2>
</div>
