<div class="textItemContainer">
  <br/>
  <h1>Chapter 7. Advanced Spring MVC</h1>
</div>

<div class="textItemContainer">
  <h2 id="ch07lev01sec00">7.1. Alternate Spring MVC configuration</h2>
</div>
<div class="textItemContainer">
  <h2 id="ch07lev01sec01">7.1.1. Customizing DispatcherServlet configuration</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch07lev01sec02">7.1.2. Adding additional servlets and filters</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch07lev01sec03">7.1.3. Declaring DispatcherServlet in web.xml</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch07lev02sec00">7.2. Processing multipart form data</h2>
</div>
<div class="textItemContainer">
  <h2 id="ch07lev02sec01">7.2.1. Configuring a multipart resolver</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch07lev02sec02">7.2.2. Handling multipart requests</h2>
</div>

<div class="textItemContainer">  
  <h2 id="ch07lev03sec00">7.3. Handling exceptions</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch07lev03sec01">7.3.1. Mapping exceptions to HTTP status codes</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch07lev03sec02">7.3.2. Writing exception-handlig methods</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch07lev04sec00">7.4. Advising controllers</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch07lev05sec00">7.5. Carrying data across redirect requests</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch07lev05sec01">7.5.1. Redirecting with URL templates</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch07lev05sec02">7.5.2. Working with flash attributes</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch07lev06sec00">7.6. Summary</h2>
</div>

