<div class="textItemContainer">
  <br/>
  <h1>Chapter 9. Securing web applications</h1>
</div>

<div class="textItemContainer">
  <h2 id="ch09lev01sec00">9.1. Getting stared with Spring Security</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch09lev01sec01">9.1.1. Understanding Spring Security modules</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch09lev01sec02">9.1.2. Filtering web requests</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch09lev01sec03">9.1.3. Writing a simple security configuration</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">  
  <h2 id="ch09lev02sec00">9.2. Selecting user details services</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch09lev02sec01">9.2.1. Working with an in-memory user store</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch09lev02sec02">9.2.2. Authenticating against database tables</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch09lev02sec03">9.2.3. Applying LDAP-backed authentication</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch09lev02sec04">9.2.4. Configuring a custom user service</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch09lev03sec00">9.3. Intercepting requests</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch09lev03sec01">9.3.1. Securing with Spring Expressions</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch09lev03sec02">9.3.2. Enforcing channel security</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch09lev03sec03">9.3.3. Preventing cross-site request forgery</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch09lev04sec00">9.4. Authenticating users</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch09lev04sec01">9.4.1. Adding a custom login page</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch09lev04sec02">9.4.2. Enabling HTTP Basic authentication</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch09lev04sec03">9.4.3. Enabling remember-me functionality</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch09lev04sec04">9.4.4. Logging out</h2>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch09lev05sec00">9.5. Securing the view</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch09lev05sec01">9.5.1. Using Spring Security's JSP tag library</h2>
</div>

<div class="textItemContainer">
  <h2 id="ch09lev05sec02">9.5.2. Working with Thymeleaf's Spring Security dialect</h2>
</div>
<div class="textItemContainer">
  <h2 id="ch09lev06sec00">9.6. Summary</h2>
</div>
