<div class="textItemContainer">
  <br/>
  <h1>15. Blending OOP and FP: comparing Java 8 and Scala</h1>
  <p>Exercises to be placed at the end of chapter 15 introduction</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch13lev01sec00">15.1 Introduction to Scala</h2>
  <p>Exercises to be placed at the end of section 15.1</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch15lev02sec00">15.2 Functions</h2>
  <p>Exercises to be placed at the end of section 15.2</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch15lev03sec00">15.3 Classes and traits</h2>
  <p>Exercises to be placed at the end of section 15.3</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="ch15lev04sec00">15.4 Summary</h2>
  <p>No exercises in this section</p>
</div>
